#page{
	width: 1500px;
	height: auto;
	margin: 0 auto;
}
#page ul{
	width: auto;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #ece6e8;
	border-bottom: solid #d9ced2;
	list-style: none;
	padding: 0;
	margin: 0;
}
#page ul li{
	float: left;
	height: 40px;
	width: 200px;
	padding: 0;
	margin: 0;
}
#page ul li a{
	display: block;
	padding: 12px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #fff;
}
#page ul li a:hover{
	background-color: #D80041;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}

#page ul li ul{
	list-style:none;
	background-color: #ffffff;
	width:  250px;
	padding: 0;
	margin: 0;
	border: 1px solid #ece6e8;
	border-bottom: solid #d9ced2;
	position: absolute;
	display: none;
}
#page ul li ul li{
	width:100%;
	float:none;
}
#page ul li:hover ul{
	display:block;
}
